@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:ital,wght@1,700&display=swap");

.navstyle {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
}

.darkdarkdark {
  background-color: rgba(0, 0, 0, 0.854);
  color: white;
}

.fontsize {
  font-size: 1.1rem;
}
.headingstyle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins{
  font-family: "Poppins", sans-serif;
}

.textnormal {
  font-family: "Open Sans", sans-serif;
}

.darkdark {
  background-color: rgba(0, 0, 0, 0.555);
  color: white;
}

.aboutstyle {
  background: url("../assets/back2.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.italics {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.type {
  font-family: "Roboto Mono", Sans-serif;
}

.title {
  font-family: "Roboto Mono", Sans-serif;
  font-weight: 700;
}

.darktype {
  font-family: "Roboto Mono", Sans-serif;
  font-weight: 700;
}

.normtext {
  font-family: "Raleway", sans-serif;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  margin-top: 6px;
  background-color: rgb(96, 93, 93);
}

.skill-box .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 95%;
  background: rgb(134, 231, 255);
  animation: progress 0.9s ease-in-out forwards;
  opacity: 0;
}

.fontcolor {
  color: rgb(134, 231, 255);
}

.skill-per.css {
  width: 80%;
  animation-delay: 0.1s;
}

.skill-per.javascript {
  width: 60%;
  animation-delay: 0.2s;
}
.skill-per.Nodejs {
  width: 35%;
  animation-delay: 0.3s;
}
.skill-per.Reactjs {
  width: 65%;
  animation-delay: 0.3s;
}
.skill-per.bootstrap {
  width: 50%;
  animation-delay: 0.3s;
}
.skill-per.Tailwind {
  width: 70%;
  animation-delay: 0.3s;
}
.skill-per.c {
  width: 85%;
  animation-delay: 0.3s;
}
.skill-per.mysql {
  width: 65%;
  animation-delay: 0.3s;
}
.skill-per.java {
  width: 50%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.lineafter{
  color: #84d7ff;
}

