@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.navstyle {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
}

.darkdarkdark{
    background-color: rgba(0, 0, 0, 0.854);
    color: white;
}

.lineafter{
    color: #84d7ff;
}


.headingstyle{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.headingstyle2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.timecolor{
    color: #a7e2ff;
}

.simpletext{
    font-family: "Poppins", sans-serif;
}

.darkdark{
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    /* color: rgba(9, 79, 109, 0.217); */
}

.zindex{
    z-index: -1;
}

.resumestyle{
    background: url('../assets/back2.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

.type{
    font-family: "Roboto Mono", Sans-serif;
}

.darktype{
    font-family: "Roboto Mono", Sans-serif;
    font-weight: 700;
}

.hoverbtn:hover{
    background-color: rgb(92, 181, 225);
}